        /*------footer----------*/

    [class*="__container"] {
        margin-left: 115px;
        margin-right: 115px;
    }
    @media(max-width:992px){
        [class*="__container"] {
            margin-left: 15px;
            margin-right: 15px;
        }
    }

        footer {
            width: 100%;
            background-color: #171718;

            .footer-container__content {
                padding-top: 60px;
                padding-bottom: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .footer-content__social-list {
                    margin: 0px;
                    padding: 0px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 30px;
                    margin-bottom: 27px;

                    .footer-content-social-list__item {
                        list-style-type: none;

                        a {
                            display: inline-block;
                            text-decoration: none;
                        }
                    }
                }

                .footer-content__privacy {
                    font-size: 16px;
                    line-height: 150%;
                    text-align: center;
                    letter-spacing: -0.5px;
                    color: #FFFFFF;
                }
            }
        }