body{
    margin: 0px;
    background-color: #E5E5E5;
}

body.dark{
    background-color: #171718;
}

.App{
    font-family: 'DM Sans', sans-serif;
    line-height: 1;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin: 0px;
    position: relative;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  
}

@keyframes App-logo-spin {

}