main {
  background-color: transparent;
  flex: 1 1 auto;
  /*------title section----------*/
}
main .projects-section__title {
  width: 100%;
  background-color: transparent;
}
main .projects-section__title .title-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 70px 152px;
}
main .projects-section__title .title-section__content .title-section-content__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.5px;
  color: #5C62EC;
  margin: 0px;
}
main .projects-section__title .title-section__content .title-section-content__img {
  width: 865.38px;
  height: 650px;
}
main .projects-section__title .title-section__content img {
  -o-object-fit: contain;
     object-fit: contain;
  filter: drop-shadow(0px 5px 35px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}
main .projects-section__title .title-section__content .title-section-content__git {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main .projects-section__title .title-section__content .title-section-content__git .title-section-content__subtitle {
  margin: 0px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.5px;
  color: #171718;
  text-align: center;
}
main .projects-section__title .title-section__content .title-section-content__git .title-section-content__repo {
  width: 95px;
  align-self: center;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #000000;
  padding: 12px 20px 12px 55px;
  outline: none;
  text-decoration: none;
  background-image: url("../../images/img/gitHub-black.svg");
  background-repeat: no-repeat;
  background-position: 10% 50%;
}

body.dark .projects-section__title {
  background-color: transparent;
}
body.dark .projects-section__title .title-section__content .title-section-content__title {
  color: #5C62EC;
}
body.dark .projects-section__title .title-section__content .title-section-content__git .title-section-content__subtitle {
  text-align: center;
  color: #fff;
}
body.dark .projects-section__title .title-section__content .title-section-content__git .title-section-content__repo {
  border: 1px solid #fff;
  color: #000;
  background-color: #aba8a8;
}

[class*=__container] {
  margin-left: 115px;
  margin-right: 115px;
}

@media (max-width: 992px) {
  [class*=__container] {
    margin-left: 15px;
    margin-right: 15px;
  }
}